# Railway / Production ENV vars
APP_BASE_URL=https://perpus-main.up.railway.app

# Database (MySQL dari Railway PostgreSQL → pakai MySQL service)
DB_HOST=mysql.railway.internal
DB_USER=root
DB_PASS=your_password_here
DB_NAME=perpussmkn9

# WhatsApp (opsional, isi nanti)
WHATSAPP_BASE_URL=https://app.whacenter.com/api/send
WHATSAPP_DEVICE_ID=your_device_id_here
